{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Rango{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category_name_slug=category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No categories to see here.</strong>
        {% endif %}

        <a href="{% url 'about' %}">About</a><br/>

        <h1>Top 5 most viewed pages</h1>
        {% if top %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category_name_slug=category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No categories to see here.</strong>
        {% endif %}

{% endblock %}